mat-toolbar{
    background: rgb(20,93,182);
}
#search{
    position: fixed;
    right: 3%;
    background-color: #ffb618 !important;
    color: black;
}
#submit{
    background-color: rgb(20,93,182); 
}
mat-icon{
    color: black;
}
mat-card-title{
    color: black;
    text-align: center;
}
mat-card{
    max-width: 600px;
    max-height: 600px;
    border-radius: 60px;
    margin: 10em auto;
    text-align: center;
    background-color: #ffb618;
}
.full-width{
    width: 80%;
}
#upload{
    position: fixed;
    left: 25%;
}
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label,
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label.mat-accent,
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label .mat-form-field-required-marker,
:host::ng-deep .mat-form-field-label,ul,p,
:host::ng-deep .mat-input-element,
:host::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label{
    color: black;
}
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-underline,
:host::ng-deep .mat-form-field-ripple{
    background-color: black !important;
}
