#flex-container2{
    display: flex;
    justify-content: center; 
    flex-direction: row;
    align-items: center;
    padding: 3px;
}
#flex-container2::before {
    content:"DDDDDDDDDD";
    margin: 1px auto 1px 1px;
    visibility: hidden;
    padding: 5px;
    background: #ddd;
}
#title,#login{
    display: flex;
}
#login{
    background-color: rgb(20,93,182);
    color: white;
    margin-left: auto;
    align-self: center;
}
mat-card.container4{
    background-color: #ffb618;
    padding: 20px;
    display: table;
    width: 100%;
}
.ce1,.ce2,.ce3{
    display: table-cell;
    width: 18%;
}
.ce1{
    width: 15%;
}
mat-card.container2{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    right: 0%;
    padding-top:16px ;
    padding-right: 3px;
    margin: 0px;
    margin-bottom: 35px;
}
.font,#searchButton,#recordButton,mat-card.container4{
    border: black 2px solid;
}
.font{
    background-color: #ffb618;
    color: black;
}
#font1{
    font-size: 20px;
}
#font2{
    font-size: 26px;
}
#font3{
    font-size: 30px;
}
select{
    background-color: white;
    margin: 5px;
}
:focus{
    outline: solid 3px black; 
}
button:hover,#login:hover{
    filter: brightness(1.3);
} 
#login:focus{
    border: red solid 4px;
    outline: none;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
form#searchForm,form#voiceForm{
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    display: flex;
}
#searchInput{
    width: 450px;
    height: 46px;
    border-radius: 50px;
    border: black 2px solid;
    padding: 10px ;
}
#searchInput:focus{
    border-radius: 0%;
    border: 0cm;
}
::ng-deep .mat-option:hover:not(.mat-option-disabled),
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled),
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow,
::ng-deep.mat-option.mat-selected:not(.mat-active):not(:hover),
::ng-deep .mat-autocomplete-panel 
::ng-deep .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover){
    background: rgb(20,93,182);
    color: white;
}
::ng-deep .mat-option.mat-active,
:host::ng-deep .mat-raised-button{
    background-color: #ffb618;
    color: black;
}
::ng-deep .mat-option,
::ng-deep .mat-primary .mat-pseudo-checkbox-checked,
::ng-deep .mat-pseudo-checkbox::after{
    background: white;
    color: black;
}
#recordButton,#searchButton{
    margin-left: 10px;
    background-color: #ffb618
}
#grid1_label,#title{
    color: rgb(20,93,182);
}
#clink{
    text-align: center;
}
#link:visited{
    color: rgb(20,93,182);
}
#link:link{
    margin-bottom: 35px;
    display: inline-block;
    color: purple;
}
#title{
    font-size: xx-large;
    padding: 15px;
    margin-bottom: 0px;
}
label{
    color: black;
}
.mat-18{
    color: white;
}
#playbtn{
    background-color: rgb(20,93,182)
}
table{
    width: 100%;
}
table,.mat-header-cell{
    color: white;
    background-color: rgb(20,93,182)
}
.mat-row,.mat-cell{
    background-color: #ffb618;
    color: black;
}    
.mat-row:hover{
    background-color: #ffb618;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
    margin-top: -125px;
    background-color: rgb(20,93,182);
    color: white;
    text-align: center;
}
#mail{
    color: white;
}
#mail:focus{
    outline: red 3px solid;
}
h2,label{
    margin: 10px;
}
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 20em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* Transparent Overlay */
.loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
} 
:host::ng-deep .mat-progress-spinner circle,
:host::ng-deep .mat-spinner circle{
    stroke: rgb(20,93,182);
}
@media screen and (max-width:800px){
	#searchInput{
        width: 150px;
    }
    #recordButton,#searchButton{
        font-size: small;
    }
    #clink{
        position: relative;
        right: 20%;
    }
}
@media screen and (max-width:900px){
    .flex-container{
        margin-top: 30px;
    }
}