<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <h1 id="upload">Withdraws</h1>
    <button mat-icon-button (click)="blockedVideos()" id="notifications"><mat-icon [matBadge]="countBlockedVideos" matBadgeColor="warn">notifications</mat-icon></button>
    <button mat-icon-button id="logout" [routerLink]="['/login']">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" >
        <button mat-button class="menu-button" [routerLink]="['/upload']">
            <mat-icon>video_call</mat-icon>
            <span>Upload</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/myuploads']">
            <mat-icon>video_library</mat-icon>
            <span>Videos</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/stats']">
            <mat-icon>bar_chart</mat-icon>
            <span>Stats</span>
        </button>
        <button mat-button class="menu-button" id="active">
            <mat-icon>payment</mat-icon>
            <span>Withdraw</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/myprofile']">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <mat-card class="mat-elevation-z8">
            <mat-card-title>Due to withdraw: ${{earnings}}</mat-card-title>
            <mat-card-actions>
                <button mat-button (click)="creditcarddialog()">
                    <span>credit card</span>
                </button>
                <button mat-button (click)="paypaldialog()">
                    <span>paypal</span>
                </button>
                <button mat-button (click)="bitdialog()">
                    <span>bitcoin</span>
                </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
