
<mat-toolbar></mat-toolbar>
<ng-container [ngSwitch]="stepperOrientation | async">
  <div *ngSwitchCase="'horizontal'"></div>
  <div *ngSwitchCase="'vertical'"></div>
</ng-container>
<form [formGroup]="buyerform" (ngSubmit)="Register()">
<mat-stepper 
  class="example-stepper" 
  [orientation]="(stepperOrientation | async)!"
  formArrayName="details">
  <mat-step formGroupName="0" label="Account"  [stepControl]="details.get([0])!">
    <div><mat-form-field class="full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="Name" required>
        <mat-error *ngIf="details.controls[0].get('Name')!.errors?.required&& details.controls[0].get('Name')!.touched ">
          Name is required
        </mat-error>
        <mat-error *ngIf=" details.controls[0].get('Name')!.dirty && details.controls[0].get('Name')!.errors?.pattern">
          Name is invalid
        </mat-error>
    </mat-form-field></div>
    <div><mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" required>
        <mat-error *ngIf="details.controls[0].get('Email')!.errors?.required&& details.controls[0].get('Email')!.touched ">
          Email is required
        </mat-error>
        <mat-error *ngIf=" details.controls[0].get('Email')!.dirty && (!details.controls[0].get('Email')!.valid || details.controls[0].get('Email')!.errors?.pattern)">
          Email is invalid
      </mat-error>
    </mat-form-field></div>
    <div><mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input formControlName="Password" matInput [type]=" hide ? 'password' : 'text'" required />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
        [attr.aria-pressed]="hide">
        <mat-icon>
            {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        </button>
        <mat-error *ngIf="details.controls[0].get('Password')!.errors?.required&& details.controls[0].get('Password')!.touched">
          Password is required
        </mat-error>
        <mat-error *ngIf="details.controls[0].get('Password')!.errors?.minlength&& details.controls[0].get('Password')!.dirty">
          Password must contain at least 8 characters
        </mat-error>
    </mat-form-field></div>
    <div><mat-form-field class="full-width"appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input formControlName="ConfirmPassword" matInput [type]=" hide ? 'password' : 'text'" required  [errorStateMatcher]="matcher"/>
        <button type="button"  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
        [attr.aria-pressed]="hide">
        <mat-icon>
            {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        </button>
        <mat-error *ngIf="details.controls[0].get('ConfirmPassword')!.errors?.required&& details.controls[0].get('ConfirmPassword')!.touched">
          You must confirm password
        </mat-error>
        <mat-error *ngIf="this.buyerform.hasError('notSame')&&!details.controls[0].get('ConfirmPassword')!.errors?.required && details.controls[0].get('ConfirmPassword')!.touched">
          passwords do not match
        </mat-error>
    </mat-form-field></div>
    <div>
      <button mat-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>
  <mat-step formGroupName="1" label="Payment" [disabled]="true"  [stepControl]="details.get([1])!">
      <div><mat-form-field class="full-width" appearance="fill">
          <mat-label>Card holder name</mat-label>
          <input matInput formControlName="Cardholdername" required>
          <mat-error *ngIf="details.controls[1].get('Cardholdername')!.errors?.required&& details.controls[1].get('Cardholdername')!.touched ">
            Card holder name is required
          </mat-error>
          <mat-error *ngIf="details.controls[1].get('Cardholdername')!.errors?.pattern&&!details.controls[1].get('Cardholdername')!.errors?.required &&details.controls[1].get('Cardholdername')!.dirty ">
            Card holder name is invalid
          </mat-error> 
      </mat-form-field></div>
      <div><mat-form-field class="full-width" appearance="fill">
        <mat-label>Card digits</mat-label>
        <input matInput formControlName="Cardnumbers" required>
        <mat-error *ngIf="details.controls[1].get('Cardnumbers')!.errors?.required&& details.controls[1].get('Cardnumbers')!.touched ">
          Card digits are required
        </mat-error>
        <mat-error *ngIf="(details.controls[1].get('Cardnumbers')!.errors?.minlength || details.controls[1].get('Cardnumbers')!.errors?.maxLength) &&details.controls[1].get('Cardnumbers')!.dirty ">
          Card digits are invalid
        </mat-error> 
    </mat-form-field></div>
        <div><mat-form-field class="full-width" appearance="fill">
            <mat-label>CVV</mat-label>
            <input matInput formControlName="Cvv" required>
            <mat-error *ngIf="details.controls[1].get('Cvv')!.errors?.required&& details.controls[1].get('Cvv')!.touched ">
              CVV is required
            </mat-error>
            <mat-error *ngIf="(details.controls[1].get('Cvv')!.errors?.minlength || details.controls[1].get('Cvv')!.errors?.maxLength) &&details.controls[1].get('Cvv')!.dirty ">
              CVV is invalid
            </mat-error> 
        </mat-form-field></div>
        <div><mat-form-field class="full-width" appearance="fill">
          <mat-label>Expiry date</mat-label>
          <input matInput formControlName="Expirydate" required placeholder="format must be MMYY">
          <mat-error *ngIf="details.controls[1].get('Expirydate')!.errors?.required&& details.controls[1].get('Expirydate')!.touched ">
            Expiry date is required
          </mat-error>
          <mat-error *ngIf="(details.controls[1].get('Expirydate')!.errors?.minlength || details.controls[1].get('Expirydate')!.errors?.maxLength) &&details.controls[1].get('Expirydate')!.dirty ">
            Expiry date is invalid
          </mat-error> 
      </mat-form-field></div>
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button type="submit" >Register</button>
    </div>
    <p id="exists" style="color: red;"></p>
  </mat-step>
</mat-stepper>
</form>
