::ng-deep.mat-dialog-container {
    padding: 0;
    border-radius: 10px;
} 
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label,
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label.mat-accent,
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label .mat-form-field-required-marker,
:host::ng-deep .mat-form-field-label,ul,p,
:host::ng-deep .mat-input-element{
    color: white;
}
:host::ng-deep .mat-form-field.mat-focused .mat-form-field-underline,
:host::ng-deep .mat-form-field-ripple{
    background-color: white !important;
}
::ng-deep .mat-option:hover:not(.mat-option-disabled),
::ng-deep .mat-select-panel,
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled), 
::ng-deep .mat-select-arrow,
::ng-deep .mat-form-field .mat-select.mat-select-invalid .mat-select-arrow,
::ng-deep.mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    background: rgb(20,93,182);
    color: white;
}
::ng-deep .mat-select-panel{
    background: #ffb618;
    color: white;
}
::ng-deep .mat-select-value{
    color: white;
}
::ng-deep .mat-option,
::ng-deep .mat-option.mat-active,
::ng-deep .mat-primary .mat-pseudo-checkbox-checked,
::ng-deep .mat-pseudo-checkbox::after{
    background: #ffb618;
    color: black;
}
button{
    background-color: white;
    color: rgb(20,93,182);
    margin: 8px;
    margin-top: 25px;
}
#close{
    background-color: #ffb618;
    color: black;
}
mat-card{
    background:rgb(20,93,182);
    padding: 25px;
    border-radius: 5px;
}
#btn1{
    background-color: #ffb618;
    color: rgb(20,93,182);
    margin-top: 10px; 
}
#labels{
    color: navy;
    margin: 2px;
}
:host::ng-deep .mat-progress-spinner circle,
:host::ng-deep .mat-spinner circle{
    stroke: rgb(20,93,182);
}
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 20em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  mat-spinner{
    left: 75px;
  }